body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #204183;
  height: 100%;
  width: 100%;
  padding-top: 8vh;
}

#navbarBrand:hover {
  cursor: pointer;
}


@media only screen and (max-width: 576px) {
  .list-col {
    margin-left: auto;
    margin-right: auto;
  }
}